* {
	background-color: #a3b9a1;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 430;
	color: #444;
}

p {
	font-size: 20px;
}

hr {
	border-top: 1.5px solid #ccc;
	margin: 30px;
}

.header {
	height: 100vh;
}

.navbar {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #5f845c;
	padding: 18px;
}

.navbar ul {
	display: flex;
	padding: 0px;
	list-style: none;
	background-color: #5f845c;
}

.navbar a {
	text-decoration: none;
	font-size: 30px;
	color: black;
	padding: 20px;
	background-color: #5f845c;
}

.navbar a:hover {
	background-color: #7aa875;
	color: #333;
}

#headshot {
	border-radius: 50%;
	width: 400px;
	height: 400px;
	object-fit: cover;
	margin-top: 100px;
	margin-bottom: 20px;
}

.header-contents {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.header-text {
	font-size: 20px;
}

.socials ul {
	display: flex;
	padding: 0px;
	list-style: none;
	margin-top: 7px;
}

.socials a {
	padding: 15px;
}

ion-icon {
	color: black;
	font-size: 40px;
}

#dota {
	padding-top: 1.5px;
	height: 35px;
}

.about-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-left: 80px;
	margin-right: 80px;
}

.resume-container {
	display: none;
}

.hidden {
	display: none;
}
