* {
	background-color: #a3b9a1;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 430;
	color: #444;
}

p {
	font-size: 20px;
}

hr {
	border-top: 1.5px solid #ccc;
	margin: 30px;
}

ion-icon {
	color: black;
	font-size: 40px;
	z-index: 1;
}

.header {
	height: 100vh;
}

.navbar {
	position: fixed;
	z-index: 2;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #5f845c;
	padding: 18px;
}

.navbar ul {
	display: flex;
	padding: 0.5px;
	list-style: none;
	background-color: #5f845c;
}

.navbar a {
	text-decoration: none;
	font-size: 30px;
	color: black;
	padding: 20px;
	background-color: #5f845c;
}

.navbar a:hover {
	background-color: #7aa875;
	color: #333;
}

#headshot {
	border-radius: 50%;
	width: 400px;
	height: 400px;
	object-fit: cover;
	margin-top: 100px;
	margin-bottom: 20px;
}

.header-contents {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.header-text {
	font-size: 20px;
}

.socials ul {
	display: flex;
	padding: 0px;
	list-style: none;
	margin-top: 7px;
}

.socials a {
	padding: 15px;
}

#dota {
	padding-top: 1.5px;
	height: 35px;
}

.titles {
	display: flex;
	justify-content: center;
}

.about-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-left: 80px;
	margin-right: 80px;
}

.card {
	display: flex;
	justify-content: center;
	border: 1px solid #000000;
	border-radius: 8px;
	overflow: hidden;
	margin: 30px;
	background-color: rgb(227, 227, 227);
}

.card img {
	width: 400px;
	height: auto;
}

.card-content {
	padding: 16px;
	background-color: inherit;
}

.card-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
	background-color: inherit;
}

.card-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 16px;
	background-color: inherit;
}

.card-text a {
	color: #5f845c;
	font-size: 18px;
	background-color: inherit;
	text-decoration: none;
}

.card-text a:hover {
	color: #5f845c;
	text-decoration: underline;
}

.hobbies-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-left: 80px;
	margin-right: 80px;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

.mySlides img {
	width: 100%; /* Adjust the width as needed */
	height: 400px; /* Set a fixed height */
	object-fit: cover; /* Maintain aspect ratio */
}

/* Navigation buttons */
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 0px;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 0px;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #8c8c8c;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #434343;
}
